
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>Index</title>

    <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>

<body class="container">

    <img id="cartman" />

    <div class="monkey"></div>

    <div class="light"></div>

    <div id="basicreactcomponent"></div>

    <div id="reactcomponentwithapidata"></div>
    
    <script src="~/dist/bundle.js"></script>

</body>

</html>
